<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/home/c-sohans/IdeaProjects/AmagiNow_Automation_UI/src/test/java/testCases/TestLoginToAmagiNow.java">
        <classes>
            <class name="testCases.TestLoginToAmagiNow">
                <methods>
                    <include name="login"/>
                </methods>
            </class>
            <class name="testRunner.SignIn"></class>
        </classes>
    </test>
</suite>